@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root {
    --cor1-bg: #0288d1;
    --cor2-bg: #398fc9;
    --cor-text-white: #fff;
    --cor-label: #cc99;
    
}

* {
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

header {
    height: 60px;
    color: var(--cor-text-white);
    display: flex;
    align-items: center;
    }

nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

a, a:hover{
    color: unset;
    text-decoration: none;
    }

body {
    background-image: linear-gradient(90deg, var(--cor1-bg), var(--cor2-bg), var(--cor1-bg));
}

nav h1{
    font-size: 20px;
    font-weight: 700;
    margin: 0;
}


#txt-senhas{
    margin-left: 26px;
}

nav a {
    font-size: 13px;
    font-weight: 500;
}

main {
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;
    height:565px;
}

.container-full{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: var(--cor-text-white);
    height: 400px;
    width: 300px;
}

.container-full h3{
    text-align: center;
    font-size: 25px;
    font-weight: 400;
    margin-top: 20px;
}

.container-input{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 100%;
}

.container-input label{
    font-size: 15px;
}

.container-input input{
    text-align: center;
    height: 40px;
    width: 240px;
    font-size: 15px;
    border-radius: 4px;
    border: 0;
}

.container-full button{
    background-color: var(--cor-text-white);
    font-size: 20px;
    font-weight: 400;
    height: 50px;
    width: 120px;
    margin-bottom: 64px;
}

.container-full button:hover{
    color: var(--cor-text-white);
    background-color: unset;
    border-color: var(--cor-text-white);
}

main h2{
    color: var(--cor-text-white);
    text-align: center;
    font-size: 25px;
    font-weight: 700;

}
