@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root {
    --cor-text-white: #fff;
    --cor-label: #cc99;

}

* {
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}


header {
    height: 60px;
    color: var(--cor-text-white);
    display: flex;
    align-items: center;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

a,
a:hover {
    color: unset;
    text-decoration: none;
}

body {
    background: linear-gradient(90deg, rgba(2, 136, 209, 1) 0%, rgba(1, 195, 69, 1) 100%);
}

nav h1 {
    font-size: 20px;
    font-weight: 700;
    margin: 0;
}

#txt-1 {
    margin-top: 10px;
}

#txt-2 {
    margin-left: 26px;
}

nav a {
    font-size: 13px;
    font-weight: 500;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
}

.container-principal {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    color: var(--cor-text-white);
    height: 300px;
    width: 300px;
    margin-top: 50px;
}

.container-principal h3 {
    text-align: center;
    font-size: 25px;
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 0;
}

.container-principal input {
    text-align: center;
    height: 40px;
    width: 240px;
    font-size: 15px;
    border-radius: 50px;
    border: 0;
    margin-top: 10px;
}

.btn {
    background-color: var(--cor-text-white);
    font-size: 20px;
    font-weight: 400;
    height: 50px;
    width: 120px;
    margin-bottom: 40px;
    border-radius: 50px;
}

.container-principal button:hover {
    color: var(--cor-text-white);
    background-color: unset;
    border-color: var(--cor-text-white);
}

.resultado {
    color: var(--cor-text-white);
    text-align: center;
    font-size: 25px;
    font-weight: 700;
    word-wrap: break-word;
    float: none;
}

.div-resultado {
    display: flex;
    justify-content: center;
    align-items: center;
}

#btn-copy {
    background-color: unset;
    border: 0;
    height: 50px;
    width: 30px;
    margin-bottom: 4px;
    margin-left: 4px;
}

#btn-copy img {
    width: 100%;
}