@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root {
    --cor-header: #0000ff;
    --cor-text-white: #fff;
    --cor-label: #cc99;
    --cor-card: #0288d1;
    
}

* {
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

header {
    height: 85px;
    background-color: var(--cor-header);
    color: var(--cor-text-white);
    display: flex;
    align-items: center;
    }

nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

a, a:hover{
    color: unset;
    text-decoration: none;
    }

html, body {
    background-color: var(--cor-text-white);
}

nav h1{
    font-size: 20px;
    font-weight: 700;
    margin: 0;
}

#txt-de{
    margin-left: 26px;
}

#txt-senhas{
    margin-left: 15px;
}

nav a {
    font-size: 12px;
    font-weight: 400;
}

main {
    display: flex;
    justify-content: center;
}

.container-full{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: var(--cor-text-white);
    background-color: var(--cor-card);
    margin: 50px 0;
    height: 270px;
    width: 270px;
}

.container-full h5{
    display: flex;
    text-align: center;
    margin-top: 20px;
}

.container-input{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.container-input label{
    font-size: 10px;
}

.container-input input{
    text-align: center;
}

.container-full button{
    background-color: var(--cor-text-white);
    width: 110px;
}